:root {
	background: linear-gradient(-45deg, #661a86, #ab34c0, #6439af, #3f51b5, #3e4055);
	background-size: 400% 400%;
	animation: gradient 25s ease infinite;
	height: 100vh;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}


body, html {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    /* align-items: center; */
    /* background-color: black; */
    color: white;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.content {
    text-align: left; /* Align items to the left inside the content div */
    /* background-color: #f0f0f0; Just for better visibility */
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.button {
    background-color: #04AA6D; /* Green */
    border: none;
    color: white;
    padding: 47px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }

.button1 {
    background-color: #05945f; /* Green */
    border: none;
    color: white;
    padding: 45px 23px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }
